.container {
    margin-bottom: 1rem;
}

.bannerImageText {
    display: flex;
    width :100%;
    margin-left: 4rem;
}

.heroImage {
    position: relative;
    margin-top: 30px;
    top: 0px;
    z-index: 1;
}

.title {
    position: relative;
    font-weight: 800;
    color: rgba(249, 250, 251, 1);
    font-size: 2rem;
    margin-left: -2.5rem;
  
}
.subIcons { 
    margin-top: -5rem;
    cursor: pointer;
    color: rgba(249, 250, 251, 1);
    font-size: 1.3rem;
    margin-left: 3rem;
    margin-bottom: 6rem;
}


/** 
  Breakpoints:
  ------------
  sm: min-width: 640px; //small device
  md: min-width: 768px; // medium device
  lg: min-width: 1024px; // large device
  xl: min-width: 1280px; // extra large device
  2xl: min-width: 1536px; // 2 x extra large device
**/

/** sm breakpoint **/
@media (min-width: 640px) {
    .bannerImageText{
        margin-bottom: 12rem;

    }
    .heroImage{
        margin-top: 5rem;
    }
    .title { 
        margin-top: 7rem;
        font-size: 2.5rem;
        font-weight: 800;
        color: rgba(249, 250, 251, 1);
        margin-left: -1rem;
      
    }
}

@media (height:720px) and (width: 540px ) {
    
    .container {
    
        margin-left: 5rem;
    }
}

/** md breakpoint **/
@media (min-width: 768px) {
    .bannerImageText{
        margin-bottom: 12rem;
    }
    .heroImage{
        margin-top: 5rem;
    }
    .title { 
        margin-top: 7rem;
        font-size: 2.5rem;
        font-weight: 800;
        color: rgba(249, 250, 251, 1);
        margin-left: 6rem;
      
    }
}

/** lg breakpoint **/
@media (min-width: 1024px) {
    .bannerImageText{
        margin-bottom: 12rem;
    }
    .heroImage{
        margin-top: 5rem;
    }
    .title { 
        margin-top: 7rem;
        font-size: 2.5rem;
        font-weight: 800;
        color: rgba(249, 250, 251, 1);
        margin-left: 15rem;
      
    }
}

@media (min-width: 1280px) {
    .bannerImageText{
        margin-bottom: 12rem;
    }
    .heroImage{
        margin-top: 5rem;
    }
    .title { 
        margin-top: 7rem;
        font-size: 2.5rem;
        font-weight: 800;
        color: rgba(249, 250, 251, 1);
        align-items: center;
      
    }
}
