
.container {
    width: 21.5rem;
    border-radius: 0.75rem
        /* 12px */
    ;
    padding-top: 0.25rem
        /* 4px */
    ;
    padding-bottom: 0.25rem
        /* 4px */
    ;
    padding-left: 1rem
        /* 16px */
    ;

    backdrop-filter: blur(10px);
}

.cardHeaderWrapper {
    margin-top: 0.75rem
        /* 12px */
    ;
    margin-bottom: 0.75rem
        /* 12px */
    ;
}

.iconWrapper {
    display: flex;
    margin-bottom: 1rem
        /* 16px */
    ;
}

.cardHeader {
    height:2rem;
    font-size: 1.25rem
        /* 20px */
    ;
    line-height: 1.75rem
        /* 28px */
    ;
    font-weight: 800;
    overflow: hidden;
    width: 100%;
}

.cardImageWrapper {
    color: var(--text-white-100);
}

.cardImage {
    border-radius: 0.75rem
        /* 12px */
    ;
}

.likeButton {
    background-color: hsla(0, 0%, 100%, 0);
    cursor: pointer;
    border: none;
}

.likeButton:hover {
    transform: scale(1.5);
}

.copyButton {
    float: right;
    background-color: hsla(0, 0%, 100%, 0);
    border: none !important;
    cursor: pointer;
}

.copyButton:hover {
    transform: scale(1.5);
}


.cardContent {
    height:10rem;
    overflow-y:scroll;
}

.cardContent::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1024px) {
    .cardHeader {
        width: 10rem
            /* 256px */
        ;
    }
}

@media (min-width: 768px) {
    .cardHeader {
        width: 16rem
            /* 256px */
        ;
    }
}