
.container {
    width: 21.5rem;
    border-radius: 0.75rem
        /* 12px */
    ;
    margin-left: auto;

    padding-bottom: 0.25rem
        /* 4px */
    ;
    

    backdrop-filter: blur(10px);
}


.iconWrapper {
    display: flex;
    margin-bottom: 0.1rem
        /* 16px */
    ;
    float: right;
}

.text {
    padding-right: 1rem;
    font-size: 1rem
        /* 24px */
    ;
    line-height: 2rem
        /* 32px */
    ;
    margin: 0;
    margin-bottom: 0px;
    font-weight: 500;
}

.cardHeader {
    margin-left: 8px;
    height:4.4rem;
    font-size: 1.19rem;
    font-weight: 600;
    overflow: hidden;
    margin-bottom:0px ;
}


.cardImage {
    border-radius: 0.75rem 0.75rem 0px 0px ;
}

.likeButton {
    background-color: hsla(0, 0%, 100%, 0);
    cursor: pointer;
    border: none;
}

.likeButton:hover {
    transform: scale(1.5);
}

.copyButton {
    float: right;
    background-color: hsla(0, 0%, 100%, 0);
    border: none !important;
    cursor: pointer;
}

.copyButton:hover {
    transform: scale(1.5);
}


.cardContent {
    height:10rem;
    overflow-y:scroll;
}

.cardContent::-webkit-scrollbar {
    display: none;
}

@media (min-width: 390px) {
    
.container {

    margin-left: 1.15rem;
}
}



@media (height:720px) and (width: 540px ) {
    
    .container {
    
        margin-left: 5rem;
    }
    }

@media (min-width: 1024px) {
    .container {
    
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .cardHeader {
        width: 16rem
            /* 256px */
        ;
    }
}
@media (min-width: 1280px) {
    .container {
    
        margin-left: auto;
        margin-right: auto;
    }
}